<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %>, <%=@user_joined.first_name%> !</h1>
    <p>
      Il s'est inscrit sur monsite.fr en utilisant l'e-mail suivant : <%= @user_joined.email %>.
    </p>
    <p>
      Pour accéder à son espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>